Django==1.8.2

dj-database-url==0.3.0
project_runpy
psycopg2>=2.4.5
gunicorn==19.2.0

boto==2.36.0
# geopy==0.97
# https://github.com/crccheck/geopy/tarball/add-goog-components
django-extensions==1.5.0
factory-boy
tqdm==1.0
