html, body, #chart {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 10px sans-serif;
}

h3 {
  margin: 0;
}

.legend {
  border: 1px solid #666;
  position: absolute;
}

.legend .content {
  max-height: 4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
