.show-for-nojs {
  display: none;
}

.no-js .show-for-nojs {
  display: block;
}

.no-js .hide-for-nojs {
  display: none;
}


#nearest {
  font-size: 0.8em;
  list-style: upper-alpha;
  margin-bottom: 0;
}

#nearest li {
  clear: right;
}


.bin h4 {
  border-bottom: 1px solid #ddd;
}

.search .item {
  cursor: pointer;
  font-size: 0.8em;
}

.search .overflow {
  display: none;
}

.search .show-all .overflow {
  display: block;
}


.loading {
  background: #ddd;
  border: 1px solid #ccc;
}

.loading:before {
  content: "loading...";
  color: #aaa;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  margin: 0.25em;
}
