<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    {% block nav %}
      <div class="nav">
        <button id=locate type=button>Locate Nearest Elevators</button>
        <div id="nav-map-container" style="float: right; width: 250px; height: 250px;"></div>
        <ol id=nearest></ol>
      </div>
    {% endblock %}
    {% block main_container %}
      <div class="main" role="main">
        <h1>{% block page_title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
      </div>
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}tx_elevators/js/tx_elevators.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
  </body>
</html>
