{% extends "tx_elevators/layouts/base.html" %}
{% load humanize %}

{% block head_title %}About{% endblock %}
{% block page_title %}About{% endblock %}


{% block main %}
  <section>
    <h3>Stats at a Glance</h3>
    <dl class="dl-horizontal">
      <dt>Buildings</dt>
      <dd>{{ buildings.count|intcomma }}</dd>
      <dt>Total Elevators</dt>
      <dd>{{ elevators.count|intcomma }}</dd>
      <dt>Passenger Elevators</dt>
      <dd>{{ passenger_elevators.count|intcomma }}</dd>
      <dt>Freight Elevators</dt>
      <dd>{{ freight_elevators.count|intcomma }}</dd>
      <dt>Escalators</dt>
      <dd>{{ escalators.count|intcomma }}</dd>
      <dt>Moving Sidewalks</dt>
      <dd>{{ moving_sidewalks.count|intcomma }}</dd>
    </dl>
  </section>

  <section>
    <h3>The Data</h3>
    <p>
      Elevator data is available courtesy the Texas Department of Licensing and
      Regulation. To learn more about the data and download the original, visit
      the

      <a href="https://www.license.state.tx.us/ElevatorSearch/HelpPage.asp#data" target="_blank">
        elevator search help page
      </a>.
    </p>
    <p>

      The data isn't perfect. For example, there are {{ future.count|apnumber }}
      elevators listed as being installed after {% now "Y" %}:

      {% for elevator in future %}
        {% if not forloop.last %}
          <a href="{{ elevator.building.get_absolute_url }}">{{ elevator }}</a>.
        {% else %}
          and <a href="{{ elevator.building.get_absolute_url }}">{{ elevator }}</a>
        {% endif %}
      {% endfor %}

      And there are {{ past.count }} elevators that were installed before the
      year 1000.

    </p>
    <p>
      <small>Data current as of {% now "Y-m-d" %}</small>
    </p>
  </section>

  <section>
    <h3>Location</h3>
    <p>

      The maps are presented in Google Maps because they have buildings when you
      zoom in. Using Google Maps also allowed me to use their geocoder. The data
      is only partially geocoded. Only {{ geocoded.count|intcomma }} out of
      {{ buildings.count|intcomma }} buildings have been geocoded and show up the
      map. And of the geocoded buildings, many have inaccurate locations.

    </p>
  </section>

  <section>
    <h3>Code</h3>
    <p>

      The code for this site is available under an open source license at
      <a href="https://github.com/texas/tx_elevators" target="_blank">GitHub</a>.
      It was coded over a few nights and most of a
      <a href="https://github.com/texas/tx_elevators/graphs/punch-card" target="_blank">weekend</a>
      by a programmer from
      <a href="https://www.texastribune.org/about/staff/" target="_blank">The Texas Tribune</a>.

    </p>
  </section>
{% endblock %}
