{% extends "tx_elevators/layouts/base.html" %}


{% block head_title %}Buildings{% endblock %}
{% block page_title %}Buildings{% endblock %}


{% block main %}
  <ol class="buildings">
    {% for object in object_list %}
      <li id="elbi-{{ object.elbi }}" class="building" data-elbi="{{ object.elbi }}">
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}


{% block extra_script %}{{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
  <script src="{{ STATIC_URL }}tx_elevators/js/search.js"></script>
{% endblock %}
