{% extends "tx_elevators/layouts/base.html" %}

{% block head_title %}{{ object }}{% endblock %}
{% block page_title %}{{ object }}{% endblock %}


{% block main %}
<dl id="building-data" data-building='{"latitude": {{ object.latitude }}, "longitude": {{ object.longitude }}}'>
  <dt>Building Number</dt>
  <dd>{{ object.elbi }}</dd>
  <dt>Name</dt>
  <dd>
    {{ object.name_1 }}
    {{ object.name_2 }}
  </dd>
  <dt>Address</dt>
  <dd>
    {{ object.address_1 }}
    {{ object.address_2 }}
    {{ object.city }}, {{ object.zip_code }}
  </dd>
  <dt>Owner</dt>
  <dd>{{ object.owner }}</dd>
  <dt>Contact</dt>
  <dd>{{ object.contact }}</dd>
  {% if object.latitude %}
    <dt>Location</dt>
    <dd>{{ object.latitude }}, {{ object.longitude }}</dd>
  {% endif %}
</dl>

<h2>Elevators</h2>
<ul>
  {% for elevator in object.elevator_set.all %}
    <li class="{{ elevator.css_classes }}">
      Equipment Identification Number: {{ elevator.decal }}
      Date of Last Certified Inspection: {{ elevator.last_inspection }}
      {{ elevator.equipment_type }}
      {{ elevator.drive_type }}
      {{ elevator.floors }} floors
      ({{ elevator.year_installed }})
    </li>
  {% endfor %}
</ul>
{% endblock %}
