{% extends "tx_elevators/layouts/base.html" %}


{% block head_title %}Buildings{% endblock %}
{% block page_title %}Buildings{% endblock %}


{% block main %}
  <ol>
    {% for object in object_list %}
      <li class="building" data-elbi="{{ object.elbi }}">
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}


{% block extra_scrit %}{{ block.super }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}tx_elevators/js/search.js"></script>
{% endblock %}
