{% extends "tx_elevators/layouts/base.html" %}


{% block head_title %}Buildings{% endblock %}
{% block page_title %}Buildings{% endblock %}


{% block main %}
  <section class="show-for-nojs">
    <ol class="buildings">
      {% for object in object_list %}
        <li id="elbi-{{ object.elbi }}" class="building" data-elbi="{{ object.elbi }}">
          <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        </li>
      {% endfor %}
    </ol>
  </section>

  <section id="search-container" class="hide-for-nojs">
    <h3>Search By:</h3>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#name">Name</a></li>
      <li><a href="#zip">Zip</a></li>
    </ul>
    <div id="name" class="row">
      <div clas="span12">
        <input type=text>
      </div>
    </div>
  </section>
{% endblock %}


{% block extra_script %}{{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
  <script src="{{ STATIC_URL }}tx_elevators/js/search.js"></script>
{% endblock %}
