{% extends "tx_elevators/layouts/base.html" %}
{% load url from future %}

{% block head_title %}{{ object }}{% endblock %}
{% block page_title %}{{ object }}{% endblock %}


{% block main %}
  <dl id="building-data" class="dl-horizontal" data-building='{"latitude": {{ object.latitude }}, "longitude": {{ object.longitude }}}'>
    <dt>Building Number</dt>
    <dd>ELBI-{{ object.elbi }}</dd>
    <dt>Name</dt>
    <dd>
      {{ object.name_1 }}
      {{ object.name_2 }}
    </dd>
    <dt>Address</dt>
    <dd>
      {{ object.address_1 }}
      {{ object.address_2 }}
      {{ object.city }}, {{ object.zip_code }}
    </dd>
    <dt>Owner</dt>
    <dd>{{ object.owner }}</dd>
    <dt>Contact</dt>
    <dd>{{ object.contact }}</dd>
  </dl>

  <h2>Elevators</h2>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Equipment ID</th>
        <th>Last Certified Inspection</th>
        <th>Equipment Type</th>
        <th>Drive Type</th>
        <th>Floors</th>
        <th>Year Installed</th>
      </tr>
    </thead>
    <tbody>
      {% for elevator in object.elevator_set.for_table %}
        <tr class="{{ elevator.css_classes }}">
          <td>{{ elevator.decal }}</td>
          <td>{{ elevator.last_inspection }}</td>
          <td>{{ elevator.equipment_type }}</td>
          <td>{{ elevator.drive_type }}</td>
          <td>{{ elevator.floors }}</td>
          <td>{{ elevator.year_installed }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="prefetch-hint" href="/chart/search/" rel="nofollow" style="display: none;"></a>
{% endblock %}
