{% extends "tx_elevators/layouts/base.html" %}

{% block head_title %}Elevators{% endblock %}
{% block page_title %}Elevators{% endblock %}


{% block main %}
<section>
  <h2>Tallest Buildings</h2>
  <ol>
    {% for building in tallest_buildings %}
      <li>
        <a href="{{ building.get_absolute_url }}">{{ building }}</a>
        &ndash; {{ building.height }} floors
      </li>
    {% endfor %}
  </ol>
</section>

<section>
  <h2>Oldest Elevators</h2>
  <ol>
    {% for elevator in oldest_elevators %}
      <li><a href="{{ elevator.building.get_absolute_url }}">
        {{ elevator.building }}</a>, installed in {{ elevator.year_installed }}
      </li>
    {% endfor %}
  </ol>
</section>

<section>
  <h2>Buildings with the Most Elevators</h2>
  <ol>
    {% for building in densest_buildings %}
      <li>
        <a href="{{ building.get_absolute_url }}">{{ building }}</a>
        &ndash; {{ building.num_elevators }} elevators
      </li>
    {% endfor %}
  </ol>
</section>

<section>
  <h2>Distribution of Age and Floors of Elevators</h2>
  <iframe class="chart" src="/chart/elevatorlist/" frameborder="0" scrolling=no width=840 height=600></iframe>
</section>
{% endblock %}
